<section class="about" id="about">
  <div class="about_container container">
    <h2 class="title-h2">Hakkımızda</h2>
    <div class="about_inner">
      <div class="about_inner_left">
        <p class="about_inner_text">
          FUN thesite, 2015 yılından beri İstanbul merkezli olarak faaliyet
          gösteren profesyonel etkinlik ajansıdır. 8 kişilik yaratıcı ve enerjik
          ekibimizle yılda 500’den fazla etkinlik organize ediyoruz.
        </p>
        <div class="about_inner_text_color">
          <b class="about_inner_text_color_bold">Misyonumuz:</b>
          <p class="about_inner_text_color_text">
            Eğlenceli, güvenli ve yaratıcı kutlamalar sunmak
          </p>
        </div>
        <div class="about_inner_text_color">
          <b class="about_inner_text_color_bold">Vizyonumuz:</b>
          <p class="about_inner_text_color_text">
            Türkiye’nin en güvenilir kutlama ajansı olmak
          </p>
        </div>
      </div>
      <div class="about_inner_right">
        <img src="./img/about/about_image.png" alt="about star" />
      </div>
    </div>
  </div>
</section>
