<section class="contacts" id="contacts">
  <div class="contacts_container container">
    <h2 class="title-h2">İletişim</h2>
    <div class="contacts_inner">
      <div class="contacts_inner_left">
        <div class="contacts_inner_left_text_flex">
          <h3 class="contacts_inner_left_text_main-title">FUN thesite</h3>
          <p class="contacts_inner_left_text">
            Cumhuriyet Mahallesi, Kocatepe Cd. No:12, Kağıthane / İstanbul
          </p>
          <div class="contacts_inner_left_flex">
            <h3 class="contacts_inner_left_text_title">Telefon:</h3>
            <a href="tel:48512345678" class="contacts_inner_left_text"
              >+90 212 678 45 32</a
            >
          </div>
          <div class="contacts_inner_left_flex">
            <h3 class="contacts_inner_left_text_title">E-mail:</h3>
            <a
              href="mailto:info@funthesite.com"
              class="contacts_inner_left_text"
              >info@funthesite.com</a
            >
          </div>
          <div class="contacts_inner_left_flex">
            <h3 class="contacts_inner_left_text_title">Çalışma saatleri:</h3>
            <p class="contacts_inner_left_text">
              Pazartesi – Cumartesi: <span>09:00 – 18:00</span>
            </p>
          </div>
        </div>
      </div>
      <div class="contacts_inner_right">
        <form class="form">
          <p class="form_text">
            Veya formu doldurun ve sizinle iletişime geçelim
          </p>
          <label for="name" class="form_lable">
            <span class="form_text_lable">Ad Soyad</span>
            <input
              placeholder="Adınızı ve Soyadınızı girin"
              id="name"
              type="text"
              class="form_input"
              name="name"
            />
          </label>
          <label for="tel" class="form_lable">
            <span class="form_text_lable">Telefon</span>
            <input
              placeholder="Telefon numaranızı girin"
              id="tel"
              type="tel"
              class="form_input"
              name="tel"
            />
          </label>
          <label for="email" class="form_lable">
            <span class="form_text_lable">E-posta</span>
            <input
              placeholder="E-postanızı giriniz"
              id="email"
              type="email"
              class="form_input"
              name="email"
            />
          </label>
          <label for="type" class="form_lable">
            <span class="form_text_lable">Etkinlik Türü</span>
            <input
              placeholder="Etkinlik türünü girin"
              id="type"
              type="text"
              class="form_input"
              name="type"
            />
          </label>
          <label for="history" class="form_lable">
            <span class="form_text_lable">Etkinlik Türü</span>
            <input
              placeholder="Etkinliğin tarihini girin"
              id="history"
              type="text"
              class="form_input"
              name="history"
            />
          </label>
          <label for="message" class="form_lable">
            <span class="form_text_lable">Mesaj</span>
            <textarea
              placeholder="Varsa bir yorum girin"
              name="message"
              id="message"
              class="form_input textarea"
            ></textarea>
          </label>
          <div class="form_lable_flex">
            <label for="accept" class="form_lable_flex_checkbox">
              <input
                id="accept"
                type="checkbox"
                name="accept"
                class="visually-hidden"
              />
            </label>
            <p class="form_text_lable_checkbox">
              KVKK ve Gizlilik Politikası’nı okudum, kabul ediyorum
            </p>
          </div>
          <button class="btn_form btn">Göndermek</button>
        </form>
      </div>
    </div>
  </div>
</section>
