<section class="faq section" id="faq">
  <div class="faq_container container">
    <h2 class="title-h2">SSS</h2>
    <div class="swiper swiper-faq">
      <div class="swiper-wrapper swiper-wrapper-faq">
        <div class="swiper-slide swiper-slide-faq">
          <div class="faq_inner_item">
            <p class="faq_inner_item_q">Kostümler sizden mi geliyor?</p>
            <p class="faq_inner_item_text">
              Evet, her animatör kostüm ve ekipmanla gelir
            </p>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-faq">
          <div class="faq_inner_item">
            <p class="faq_inner_item_q">
              Dış mekan etkinlikleri yapıyor musunuz?
            </p>
            <p class="faq_inner_item_text">
              Evet, açık hava organizasyonları için uygun ekipmana sahibiz
            </p>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-faq">
          <div class="faq_inner_item">
            <p class="faq_inner_item_q">Rezervasyon nasıl yapılır?</p>
            <p class="faq_inner_item_text">
              İletişim formunu doldurun ya da bizi arayın
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="faq_inner">
      <div class="faq_inner_item">
        <p class="faq_inner_item_q">Kostümler sizden mi geliyor?</p>
        <p class="faq_inner_item_text">
          Evet, her animatör kostüm ve ekipmanla gelir
        </p>
      </div>
      <div class="faq_inner_item">
        <p class="faq_inner_item_q">Dış mekan etkinlikleri yapıyor musunuz?</p>
        <p class="faq_inner_item_text">
          Evet, açık hava organizasyonları için uygun ekipmana sahibiz
        </p>
      </div>
      <div class="faq_inner_item">
        <p class="faq_inner_item_q">Rezervasyon nasıl yapılır?</p>
        <p class="faq_inner_item_text">
          İletişim formunu doldurun ya da bizi arayın
        </p>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination_faq"></div>
  </div>
</section>
