<footer class="footer" id="footer">
  <div class="footer_container container">
    <ul class="footer_top-list">
      <li class="footer_top-list-item">
        <a href="mailto:info@funthesite.com">info@funthesite.com</a>
      </li>
      <li class="footer_top-list-item">
        <a href="tel:+902126784532">+90 212 678 45 32</a>
      </li>
    </ul>
    <ul class="footer_list">
      <li class="footer_list_item">
        <a href="./privacy-policy.html">Gizlilik Politikası</a>
      </li>
      <li class="footer_list_item">
        <a href="./terms-and-conditions.html">Gizlilik Politikası</a>
      </li>
      <li class="footer_list_item">
        <a href="./cookies-policy.html">Çerez Politikası</a>
      </li>
    </ul>
    <p class="footer_copyright">© 2025 funthesite.com – Tüm hakları saklıdır</p>
  </div>
</footer>
