<header class="header" id="header">
  <div class="header_container container">
    <div class="header_logo_inner_mobile">
      <div class="header_logo_inner">
        <a href="./index.html"
          ><img src="./img/Header/logo.png" alt="logo"
        /></a>
        <a href="./index.html"
          ><h1 class="header_title_logo">FUN thesite</h1></a
        >
        <button type="button" class="header-nav-mobile-button">
          <img src="./img/Header/burger.png" alt="menu" />
        </button>
        <button type="button" class="header-nav-mobile-button-close">
          <img src="./img/Header/close_menu.png" alt="menu" />
        </button>
      </div>
      <nav class="header-nav-mobile">
        <ul class="header-nav-mobile-list">
          <li class="header-nav-mobile-item">
            <a href="#service">Hizmetlerimiz</a>
          </li>
          <li class="header-nav-mobile-item">
            <a href="#how-working">Nasıl Çalışır</a>
          </li>
          <li class="header-nav-mobile-item">
            <a href="#reviews">Müşteri Yorumları</a>
          </li>
          <li class="header-nav-mobile-item">
            <a href="#pricing">Fiyat Listesi</a>
          </li>
          <li class="header-nav-mobile-item">
            <a href="#faq">SSS</a>
          </li>
          <li class="header-nav-mobile-item">
            <a href="#about">Hakkımızda</a>
          </li>
          <li class="header-nav-mobile-item">
            <a href="#contacts">İletişim</a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="header-nav-pc">
      <ul class="header-nav-pc-list">
        <li class="header-nav-pc-item">
          <a href="#service">Hizmetlerimiz</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#how-working">Nasıl Çalışır</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#reviews">Müşteri Yorumları</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#pricing">Fiyat Listesi</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#faq">SSS</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#about">Hakkımızda</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#contacts">İletişim</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
