<section class="how-working section" id="how-working">
  <div class="how-working_container container">
    <h2 class="title-h2">Nasıl Çalışır</h2>
    <h3 class="how-working_third_title">Kolay, Hızlı ve Eğlenceli</h3>
    <div class="how-working_inner">
      <div class="how-working_inner_item">
        <p class="how-working_inner_item_number">1.</p>
        <p class="how-working_inner_item_text">
          Bize ulaşın – tarih, <br />
          yer, konsepti paylaşın
        </p>
      </div>
      <div class="how-working_inner_item">
        <p class="how-working_inner_item_number">2.</p>
        <p class="how-working_inner_item_text">Size özel teklif alın</p>
      </div>
      <div class="how-working_inner_item">
        <p class="how-working_inner_item_number">3.</p>
        <p class="how-working_inner_item_text">
          Geriye sadece eğlenmek kalsın!
        </p>
      </div>
    </div>
  </div>
</section>
