<section class="pricing" id="pricing">
  <div class="pricing_container container">
    <h2 class="title-h2">Fiyat Listesi</h2>
    <div class="pricing_menu">
      <div class="pricing_menu_row">
        <p class="pricing_menu_row_text">Animatör (1 karakter)</p>
        <p class="pricing_menu_row_pricing"><span>900 TL</span>/ 1 saat</p>
      </div>
      <div class="pricing_menu_row">
        <p class="pricing_menu_row_text">Sunucu</p>
        <p class="pricing_menu_row_pricing"><span>1.500 TL</span>/ 2 saat</p>
      </div>
      <div class="pricing_menu_row">
        <p class="pricing_menu_row_text">Sihirbaz Gösterisi</p>
        <p class="pricing_menu_row_pricing"><span>1.200 TL</span>/ 30 dakika</p>
      </div>
      <div class="pricing_menu_row">
        <p class="pricing_menu_row_text">Balon Süsleme Paketi</p>
        <p class="pricing_menu_row_pricing">
          <span>1.200 TL</span>/ Etkinlik günü
        </p>
      </div>
      <div class="pricing_menu_row">
        <p class="pricing_menu_row_text">Fotoğrafçı</p>
        <p class="pricing_menu_row_pricing"><span>1.800 TL</span>/ 2 saat</p>
      </div>
    </div>
    <p class="pricing_text">
      * Tüm fiyatlara KDV dahildir. Detaylı teklif için lütfen iletişime geçin
    </p>
  </div>
</section>
