<section class="reviews" id="reviews">
  <div class="reviews_container container">
    <h2 class="title-h2">Müşteri Yorumları</h2>
    <div class="swiper swiper-reviews">
      <div class="swiper-wrapper swiper-wrapper-reviews">
        <div class="swiper-slide swiper-slide-reviews">
          <div class="reviews_inner_item">
            <p class="reviews_inner_item_desc">
              Kızımın doğum gününde prenses karakteri herkesi büyüledi, her şey
              mükemmeldi!
            </p>
            <b class="reviews_inner_item_author">Derya A.</b>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-reviews">
          <div class="reviews_inner_item">
            <p class="reviews_inner_item_desc">
              Sunucu çok profesyoneldi, firma etkinliğimiz harika geçti.
            </p>
            <b class="reviews_inner_item_author">Serkan Y.</b>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination_reviews"></div>
    <div class="reviews_inner">
      <div class="reviews_inner_item">
        <p class="reviews_inner_item_desc">
          Kızımın doğum gününde prenses karakteri herkesi büyüledi, her şey
          mükemmeldi!
        </p>
        <b class="reviews_inner_item_author">Derya A.</b>
      </div>
      <div class="reviews_inner_item">
        <p class="reviews_inner_item_desc">
          Sunucu çok profesyoneldi, firma etkinliğimiz harika geçti.
        </p>
        <b class="reviews_inner_item_author">Serkan Y.</b>
      </div>
    </div>
  </div>
</section>
