<section class="service section" id="service">
  <div class="container service_container">
    <h2 class="title-h2">Hizmetlerimiz</h2>
    <div class="swiper swiper-service">
      <div class="swiper-wrapper swiper-wrapper-service">
        <div class="swiper-slide swiper-slide-service">
          <article class="service_inner_item">
            <h3 class="service_inner_item_title">Animasyon Hizmetleri</h3>
            <ul class="service_inner_item_list">
              <li class="service_inner_item_list_item">
                Maskotlar, kostümlü karakterler
              </li>
              <li class="service_inner_item_list_item">
                Çocuklara özel oyunlar, yüz boyama, sihirbazlar
              </li>
              <li class="service_inner_item_list_item">
                Baloncuk ve kukla gösterileri
              </li>
            </ul>
            <div>
              <b class="service_inner_item_benfit">Başlangıç fiyatı:</b>
              <p class="service_inner_item_price">1 saat – 900 TL</p>
            </div>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-service">
          <article class="service_inner_item">
            <h3 class="service_inner_item_title">Profesyonel Sunuculuk</h3>
            <ul class="service_inner_item_list">
              <li class="service_inner_item_list_item">
                Etkinlik akış yönetimi
              </li>
              <li class="service_inner_item_list_item">
                Mikrofon kullanımı ve anonslar
              </li>
              <li class="service_inner_item_list_item">
                Kurumsal ve bireysel organizasyonlar için
              </li>
            </ul>
            <div>
              <b class="service_inner_item_benfit">Fiyat:</b>
              <p class="service_inner_item_price">
                1.500 TL’den başlayan ücretler
              </p>
            </div>
          </article>
        </div>

        <div class="swiper-slide swiper-slide-service">
          <article class="service_inner_item">
            <h3 class="service_inner_item_title">Süsleme & Dekorasyon</h3>
            <ul class="service_inner_item_list">
              <li class="service_inner_item_list_item">
                Balon kemerleri, masa süslemeleri, arka fonlar
              </li>
              <li class="service_inner_item_list_item">
                Konsept tasarımlar (temalı doğum günleri, baby shower vb.)
              </li>
            </ul>
            <div>
              <b class="service_inner_item_benfit">Fiyat:</b>
              <p class="service_inner_item_price">
                Paketler 1.200 TL’den başlar
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-service">
          <article class="service_inner_item">
            <h3 class="service_inner_item_title">Foto & Video</h3>
            <ul class="service_inner_item_list">
              <li class="service_inner_item_list_item">
                Profesyonel çekim ekipleri
              </li>
              <li class="service_inner_item_list_item">1-3 saatlik paketler</li>
            </ul>
            <div>
              <b class="service_inner_item_benfit">Fiyat:</b>
              <p class="service_inner_item_price">1.800 TL’den itibaren</p>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination_service"></div>
    <div class="service_inner">
      <article class="service_inner_item">
        <h3 class="service_inner_item_title">Animasyon Hizmetleri</h3>
        <ul class="service_inner_item_list">
          <li class="service_inner_item_list_item">
            Maskotlar, kostümlü karakterler
          </li>
          <li class="service_inner_item_list_item">
            Çocuklara özel oyunlar, yüz boyama, sihirbazlar
          </li>
          <li class="service_inner_item_list_item">
            Baloncuk ve kukla gösterileri
          </li>
        </ul>
        <div>
          <b class="service_inner_item_benfit">Başlangıç fiyatı:</b>
          <p class="service_inner_item_price">1 saat – 900 TL</p>
        </div>
      </article>
      <article class="service_inner_item">
        <h3 class="service_inner_item_title">Profesyonel Sunuculuk</h3>
        <ul class="service_inner_item_list">
          <li class="service_inner_item_list_item">Etkinlik akış yönetimi</li>
          <li class="service_inner_item_list_item">
            Mikrofon kullanımı ve anonslar
          </li>
          <li class="service_inner_item_list_item">
            Kurumsal ve bireysel organizasyonlar için
          </li>
        </ul>
        <div>
          <b class="service_inner_item_benfit">Fiyat:</b>
          <p class="service_inner_item_price">1.500 TL’den başlayan ücretler</p>
        </div>
      </article>
      <article class="service_inner_item">
        <h3 class="service_inner_item_title">Süsleme & Dekorasyon</h3>
        <ul class="service_inner_item_list">
          <li class="service_inner_item_list_item">
            Balon kemerleri, masa süslemeleri, arka fonlar
          </li>
          <li class="service_inner_item_list_item">
            Konsept tasarımlar (temalı doğum günleri, baby shower vb.)
          </li>
        </ul>
        <div>
          <b class="service_inner_item_benfit">Fiyat:</b>
          <p class="service_inner_item_price">Paketler 1.200 TL’den başlar</p>
        </div>
      </article>
      <article class="service_inner_item">
        <h3 class="service_inner_item_title">
          Foto & <br />
          Video
        </h3>
        <ul class="service_inner_item_list">
          <li class="service_inner_item_list_item">
            Profesyonel çekim ekipleri
          </li>
          <li class="service_inner_item_list_item">1-3 saatlik paketler</li>
        </ul>
        <div>
          <b class="service_inner_item_benfit">Fiyat:</b>
          <p class="service_inner_item_price">1.800 TL’den itibaren</p>
        </div>
      </article>
    </div>
    <button class="service_button btn">Bir hizmet sunumu sipariş edin</button>
  </div>
</section>
